*{
    font-size: 16px;
}

body{
    background-color: #F1F2F6;
}
/*used for centering containers*/
.centering-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*used for centering text*/
.centering-text{
    text-align: center;
}

/*made a collage using grid for the hero part*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1%;
    height: 40vh;
}



.item{
    width: 100%;
    height: auto;
}

.item-1{
    grid-row: 1/4;
    grid-column: 1/5;
    /*background-color: #62466b;*/
}

.item-2{
    grid-row: 1/5;
    grid-column: 5/9;
    /*background-color: orange;*/
}

.item-3{
    grid-row: 4/9;
    grid-column: 1/5;
    /*background-color: green;*/
}

.item-4{
    grid-row: 5/9;
    grid-column: 5/9;
    /*background-color: blue;*/
}

.item-5{
    grid-row: 2/7;
    grid-column: 3/7;
}

.grid-text-overlap{
    background-color: rgba(58, 57, 57, 0.87);
    border-radius: 5%;
    color: white;
    box-sizing: border-box;
    padding: 2%;
    max-width: 90%;
    position: relative;
    z-index: 1;
}

.grid-img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 134, 0, 0.24) !important;
    z-index: 1;
}
/*navbar*/
.bg-purple{
    background-color: #5D16A6!important;
}

.light-purple-button{
    background-color: #9683EC;
    color: #FFFFFF;
}

.row {
    --bs-gutter-x: 0!important;
}

div .small-input {
    width: 70%!important;
}

.input-group>.form-control {
    flex: none;
}

/*got rid of the bottom margin*/
.no-footer-margin p{
    margin-bottom: 0!important;
}

footer{
   height: 50px;
}

.carousel-size{
    border-radius: 1%;
    width: 30rem;
    height: auto;
}

/*.bg-light-purple{*/
/*    background-image: url("../img/icons/half-circle.png");*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*}*/

.bg-light-purple{
    background-color: #AEB8FE;
}

.bg-greywhite{
    background-color: #F1F2F6;
}

.bg-greywhite-rounded{
    background-color: #F1F2F6;
    border-radius: 20%;
}


.carousel-text-box{
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*margin and padding for each section*/
.margin-padding-LP{
    padding: 2%;
    margin: 2%;
}

/*card sized for why adopt landing page*/
.card-about-size{
    max-width: 80%;
    height: auto;
}

.vh-70 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.card-bg-pale{
    /*background-color: #EFE3FF;*/
    /*border: 2px solid #cdc2da !important;*/
}

.card-icon-size{
    width: 28%;
    margin: 5%;
}

@media (max-width: 576px) {

}

@media (min-width: 577px) and (max-width: 1024px) {

}

@media (min-width: 1025px) {
    .card-about-size{
        max-width: 25rem;
    }
}

@media (min-width: 572px) and (max-width: 767px) {
    /*hiding the mobile version of the hero*/
    .hide-md-screen {
        display: none!important;
    }
}