*{
    font-size: 16px;
}

body{
    background-color: #F1F2F6;
}
/*used for centering containers*/
.centering-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*used for centering text*/
.centering-text{
    text-align: center;
}

/*made a collage using grid for the hero part*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1%;
    height: 40vh;
}



.item{
    width: 100%;
    height: auto;
}

.item-1{
    grid-row: 1/4;
    grid-column: 1/5;
    /*background-color: #62466b;*/
}

.item-2{
    grid-row: 1/5;
    grid-column: 5/9;
    /*background-color: orange;*/
}

.item-3{
    grid-row: 4/9;
    grid-column: 1/5;
    /*background-color: green;*/
}

.item-4{
    grid-row: 5/9;
    grid-column: 5/9;
    /*background-color: blue;*/
}

.item-5{
    grid-row: 2/7;
    grid-column: 3/7;
}

.grid-text-overlap{
    background-color: rgba(58, 57, 57, 0.87);
    border-radius: 5%;
    color: white;
    box-sizing: border-box;
    padding: 2%;
    max-width: 90%;
    position: relative;
    z-index: 1;
}

.grid-img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 134, 0, 0.24) !important;
    z-index: 1;
}
/*navbar*/
.bg-purple{
    background-color: #5D16A6!important;
}

.light-purple-button{
    background-color: #151415;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
}

.row {
    --bs-gutter-x: 0!important;
}

div .small-input {
    width: 70%!important;
}

.input-group>.form-control {
    flex: none;
}

/*got rid of the bottom margin*/
.no-footer-margin p{
    margin-bottom: 0!important;
}

footer{
   height: 50px;
}

.carousel-size{
    border-radius: 1%;
    max-width: 18rem;
    height: auto;
}

/*.bg-light-purple{*/
/*    background-image: url("../img/icons/half-circle.png");*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*}*/

.bg-light-purple{
    background-color: #AEB8FE;
}

.bg-greywhite{
    background-color: #F1F2F6;
}

.bg-greywhite-rounded{
    background-color: #F1F2F6;
    border-radius: 20%;
}


.carousel-text-box{
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*margin and padding for each section*/
.margin-padding-LP{
    padding: 2%;
    margin: 2%;
}

/*card sized for why adopt landing page*/
.card-about-size{
    height: auto;
    padding: 1%;
    margin: 1%;
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-bg-pale{
    /*background-color: #EFE3FF;*/
    /*border: 2px solid #cdc2da !important;*/
}

.card-icon-size{
    width: 28%;
    margin: 5%;
}

.adoption-story-container {
    display: flex;
    flex-wrap: wrap;
}

.why-adopt-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  /* Center the items horizontally */
}

.adoption-story, .adoption-img {
    width: 100%;
}

.adoption-story {
    margin: 5% 0 15% !important;
}

.adoption-img{
    border-radius: 5%!important;
}

.why-adopt-1, .why-adopt-2, .why-adopt-3{
    width: 100%;
}

.carousel-img, .carousel-text{
    width: 100%;
}


/*TEXT FONTS*/
h1{
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

p {
    font-size: 1rem;
}

.grid-title{
    font-size: 2rem;
}

.lato-font {
    font-family: "Lato", sans-serif;
}

.karla-font {
    font-family: "karla", sans-serif;
}

.line-height-normal {
    line-height: 1.6;
}

.h2-line-height {
    line-height: 1.5;
}

.h3-line-height {
    line-height: 1.4;
}

.h4-line-height {
    line-height: 1.3;
}

.h5-line-height {
    line-height: 1.2;
}

.h6-line-height {
    line-height: 1.1;
}

.navbar-font {
    font-family: "Lato", sans-serif;
}

@media (max-width: 320px) {
    .carousel-img{
        margin: 0 4%;
        padding: 0 2%;
    }

}

@media (min-width: 768px) {
    .adoption-img {
        flex: 1;
        max-width: 40%;
    }

    .adoption-story{
        flex: 1;
        max-width: 60%;
    }

    .why-adopt-1, .why-adopt-2, .why-adopt-3 {
        flex: 1;
        max-width: 50%;
    }

    .carousel-text{
        flex: 1;
        max-width: 60%;
    }

    .carousel-img{
        flex: 1;
        max-width: 30%;
    }

    .adoption-story {
        margin: 2% 0!important;
    }

    .grid-title{
        font-size: 2rem;
    }

    .grid-text{
        font-size: 1.15rem;
    }
}


@media (min-width: 992px) {
    .adoption-img {
        flex: 1;
        max-width: 40%;
    }

    .adoption-story{
        flex: 1;
        max-width: 25%;
    }

    .why-adopt-1, .why-adopt-2, .why-adopt-3 {
        flex: 1;
        max-width: 25%;
    }

    .carousel-text{
        flex: 1;
        max-width: 50%;
    }

    .carousel-img{
        flex: 1;
        max-width: 20%;
    }

    .grid-container{
        height: 70vh;
    }


}

@media (min-width: 1200px) {
    .carousel-img{
        max-width: 20%;
    }

    .carousel-text{
        max-width: 40%;

    }
}


@media (min-width: 572px) and (max-width: 767px) {
    /*hiding the mobile version of the hero*/
    .hide-md-screen {
        display: none!important;
    }
}